<div style="width:100%; padding: 25px; margin: 0 auto;">
	<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right; right: 50px;" type="button" value="Edit" ng-click="edit(currentCheckout.CheckoutID)"/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>Book</label>
		<br/>
		<label>{{currentCheckout.Book.Title}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>User</label>
		<br/>
		<label>{{currentCheckout.User.DisplayName}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield" ng-show="currentCheckout.OutDate">
		<label>Checkout Date</label>
		<br/>
		<label>{{currentCheckout.OutDate}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield" ng-show="currentCheckout.InDate">
		<label>Checkin Date</label>
		<br/>
		<label>{{currentCheckout.InDate}}</label>
	</div>
	<br ng-show="currentCheckout.OutDate"/>
	<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="button" value="Checkin" ng-show="currentCheckout.OutDate && !currentCheckout.InDate" ng-click="checkin(currentCheckout)"/>
</div>
