<div>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Book</th>
				<th class="mdl-data-table__cell--non-numeric">User</th>
				<th class="mdl-data-table__cell--non-numeric">Checkout Date</th>
				<th class="mdl-data-table__cell--non-numeric">Checkin Date</th>
				<th class="mdl-data-table__cell--non-numeric">Edit</th>
				<th class="mdl-data-table__cell--non-numeric">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="checkout in checkouts">
				<td class="mdl-data-table__cell--non-numeric">{{checkout.BookID}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{checkout.UserID}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{checkout.OutDate}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{checkout.InDate}}</td>
				<td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-click="edit(checkout.CheckoutID)">Edit</button></td>
				<td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-click="remove(checkout.CheckoutID)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<form>
		<input type="hidden" name="CheckoutID" ng-model="currentCheckout.CheckoutID" />
		<label>Book</label>
		<select ng-model="currentCheckout.BookID">
			<option ng-repeat="book in books" value="{{book.BookID}}">{{book.Title}}</option>
		</select>
		<label>User</label>
		<select ng-model="currentCheckout.UserID">
			<option ng-repeat="user in users" value="{{user.UserID}}">{{user.DisplayName}}</option>
		</select>
		<label>Checkout Date</label>
		<input type="text" name="OutDate" ng-model="currentCheckout.OutDate"/>
		<label>Checkin Date</label>
		<input type="text" name="InDate" ng-model="currentCheckout.InDate"/>
		<input type="button" value="Save" ng-click="save()"/>
	</form>
</div>
