<div>
	<form ng-submit="searchByISBN13(bookSearchISBN13)" style="position: absolute;">
		<input type="text" id="ISBN13Search" ng-blur="setISBN13SearchFocus()" ng-model="bookSearchISBN13"/>
	</form>
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%; padding: 25px; margin: 0 auto;">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Book</th>
				<th class="mdl-data-table__cell--non-numeric">User</th>
				<th class="mdl-data-table__cell--non-numeric">Checkout Date</th>
				<th class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button" style="margin-top: 7px;" ng-click="new()">Checkout</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="checkout in checkouts" ng-hide="checkout.InDate">
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(checkout.CheckoutID)">{{books[checkout.BookID].Title}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(checkout.CheckoutID)">{{users[checkout.UserID].DisplayName}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(checkout.CheckoutID)">{{checkout.OutDate}}</td>
				<td class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-hide="checkout.InDate" ng-click="checkin(checkout)">Checkin</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
