<div>
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%; padding: 25px; margin: 0 auto;">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Title</th>
				<th class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button" style="margin-top: 7px;" ng-click="new()">Add Book Series</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bookseries in bookserieses">
				<td class="mdl-data-table__cell--non-numeric" ng-click="detail(bookseries.BookSeriesID)">{{bookseries.Title}}</td>
				<td class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-click="remove(bookseries.BookSeriesID)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
