<div>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Title</th>
				<th class="mdl-data-table__cell--non-numeric">Edit</th>
				<th class="mdl-data-table__cell--non-numeric">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bookseries in bookserieses">
				<td class="mdl-data-table__cell--non-numeric">{{bookseries.Title}}</td>
				<td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-click="edit(bookseries.BookSeriesID)">Edit</button></td>
				<td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-click="remove(bookseries.BookSeriesID)">Delete</button></td>
			</tr>
		</tbody>
	</table>
	<form>
		<input type="hidden" name="BookSeriesID" ng-model="currentBookSeries.BookSeriesID" />
		<label>Title</label>
		<input type="text" name="Title" ng-model="currentBookSeries.Title"/>
		<input type="button" value="Save" ng-click="save()"/>
	</form>
</div>
