<div style="width:100%; padding: 25px; margin: 0 auto;">
	<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right; right: 50px;" type="button" value="Edit" ng-click="edit(currentBookSeries.BookSeriesID)"/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>Title</label>
		<br/>
		<label>{{currentBookSeries.Title}}</label>
	</div>
</div>
<div>
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%; padding: 25px; margin: 0 auto;">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Title</th>
				<th class="mdl-data-table__cell--non-numeric">Author</th>
				<th class="mdl-data-table__cell--non-numeric">Book Series</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
				<td class="mdl-data-table__cell--non-numeric" ng-click="bookDetail(book.BookID)">{{book.Title}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="bookDetail(book.BookID)">{{authors[book.AuthorID].DisplayName}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="bookDetail(book.BookID)">{{currentBookSeries.Title}}</td>
			</tr>
		</tbody>
	</table>
</div>
