<div style="width:100%; padding: 25px; margin: 0 auto;">
	<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right; right: 50px;" type="button" value="Edit" ng-click="edit(currentBook.BookID)"/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>Title</label>
		<br/>
		<label>{{currentBook.Title}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>Author</label>
		<br/>
		<label>{{currentBook.Author.DisplayName}}</label>
	</div>
	<br ng-show="currentBook.BookSeries"/>
	<div class="mdl-textfield mdl-js-textfield" ng-show="currentBook.BookSeries">
		<label>Book Series</label>
		<br/>
		<label>{{currentBook.BookSeries.Title}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>ISBN</label>
		<br/>
		<label>{{currentBook.ISBN13}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield" style="width: 90%;">
		<label>Synopsis</label>
		<p style="white-space: pre-wrap;">{{currentBook.Synopsis}}</p>
	</div>
</div>
