<div>
	<form ng-submit="searchByISBN13(bookSearchISBN13)" style="position: absolute;">
		<input type="text" id="ISBN13Search" ng-blur="setISBN13SearchFocus()" ng-model="bookSearchISBN13"/>
	</form>
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%; padding: 25px; margin: 0 auto;">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Title</th>
				<th class="mdl-data-table__cell--non-numeric">Author</th>
				<th class="mdl-data-table__cell--non-numeric">Book Series</th>
				<th class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button" style="margin-top: 7px;" ng-click="new()">Add Book</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(book.BookID)">{{book.Title}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(book.BookID)">{{authors[book.AuthorID].DisplayName}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(book.BookID)">{{bookserieses[book.BookSeriesID].Title}}</td>
				<td class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-click="remove(book.BookID)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
