<div style="width:100%; padding: 25px; margin: 0 auto;">
	<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="float: right; right: 50px;" type="button" value="Edit" ng-click="edit(currentUser.UserID)"/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>Full Name</label>
		<br/>
		<label>{{currentUser.DisplayName}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>First Name</label>
		<br/>
		<label>{{currentUser.FirstName}}</label>
	</div>
	<br/>
	<div class="mdl-textfield mdl-js-textfield">
		<label>Last Name</label>
		<br/>
		<label>{{currentUser.LastName}}</label>
	</div>
</div>
