<div>
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%; padding: 25px; margin: 0 auto;">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Full Name</th>
				<th class="mdl-data-table__cell--non-numeric">First Name</th>
				<th class="mdl-data-table__cell--non-numeric">Last Name</th>
				<th class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button" style="margin-top: 7px;" ng-click="new()">Add User</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(user.UserID)">{{user.DisplayName}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(user.UserID)">{{user.FirstName}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="edit(user.UserID)">{{user.LastName}}</td>
				<td class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" style="position: relative; top: -7px;" ng-click="remove(user.UserID)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
