<div style="width:100%; padding: 25px; margin: 0 auto;">
	<form>
		<input type="hidden" name="AuthorID" ng-model="currentAuthor.AuthorID" />
		<div class="mdl-textfield mdl-js-textfield">
			<label>Full Name</label>
			<input class="mdl-textfield__input" type="text" id="DisplayName" name="DisplayName" ng-model="currentAuthor.DisplayName"/>
			<label class="mdl-textfield__label" for="DisplayName"></label>
		</div>
		<br/>
		<div class="mdl-textfield mdl-js-textfield">
			<label>First Name</label>
			<input class="mdl-textfield__input" type="text" id="FirstName" name="FirstName" ng-model="currentAuthor.FirstName"/>
			<label class="mdl-textfield__label" for="FirstName"></label>
		</div>
		<br/>
		<div class="mdl-textfield mdl-js-textfield">
			<label>Last Name</label>
			<input class="mdl-textfield__input" type="text" id="LastName" name="LastName" ng-model="currentAuthor.LastName"/>
			<label class="mdl-textfield__label" for="LastName"></label>
		</div>
		<br/>
		<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="button" value="Save" ng-click="save()"/>
	</form>
</div>
<div>
	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%; padding: 25px; margin: 0 auto;">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">Title</th>
				<th class="mdl-data-table__cell--non-numeric">Author</th>
				<th class="mdl-data-table__cell--non-numeric">Book Series</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
				<td class="mdl-data-table__cell--non-numeric" ng-click="editBook(book.BookID)">{{book.Title}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="editBook(book.BookID)">{{currentAuthor.DisplayName}}</td>
				<td class="mdl-data-table__cell--non-numeric" ng-click="editBook(book.BookID)">{{bookserieses[book.BookSeriesID].Title}}</td>
			</tr>
		</tbody>
	</table>
</div>
